#page #region-main .loginbox {
    width: 30%;
    float: right;
    opacity: 0.9;
    margin-right: 10%;
    margin-top: 100px;
    border: none;
}

#page-footer{
    background-color: #929397;
}
#page .block-region .block .header{
	    background-color: #929397;
}
.breadcrumb-button .singlebutton input[type="submit"]{
		    background-color: #020202;
}
#page-header .top-bar{
	  background-color:#00A4F2;
}
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input {
  background-color: #020202;
  border: 1px solid #020202;
}
.main-nav .nav li a:hover {
    background-color: #929397;
}
.main-nav .nav li .dropdown-menu a:hover{
	    background-color: #929397;
}
.main-nav .nav li.open a {
    background-color: #929397;
}
a{
	color: #444;
}
/*.pagelayout-login #page {
    background-image:url([[pix:theme|loginpic]]);
    background-repeat: no-repeat;
    height: 803px;
    max-width: 1346px;
    margin-top: 2px;
}*/
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;

}
button:active, input.form-submit:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input#id_submitbutton:active, input#id_submitbutton2:active, .path-admin .buttons input[type="submit"]:active, td.submit input:active, button:hover, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, button:focus, input.form-submit:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, td.submit input:focus {
  background-color: #020202;
  border: 1px solid #020202;
}
.breadcrumb-button .singlebutton input[type=submit]:hover, .nav-button .singlebutton input[type=submit]:hover {
	  background-color: #020202;
  border: 1px solid #020202;
}
#page #region-main h3.sectionname {
    color: #444;
}

.why-section .figure-holder {
    font-size: 30px;
    color: red;
    margin-bottom: 15px;
}

.why-section .item-title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
    color: red;
}

#topcontrol{
  background: #000;
}

#topcontrol:hover{
  color:#fff;
  background: #000;
}